.buildozer/android/platform/build-arm64-v8a/dists/hualing/src/main/assets/private.tar filter=lfs diff=lfs merge=lfs -text
.buildozer/android/platform/python-for-android/hualing-debug-0.1.apk filter=lfs diff=lfs merge=lfs -text
