# Gradle / Android build artifacts
.gradle/**/executionHistory/executionHistory.bin
.gradle/**/fileHashes/fileHashes.bin
.gradle/**/buildOutputCleanup/cache.properties
.gradle/**/buildOutputCleanup/outputFiles.bin
.gradle/**/executionHistory.lock
.gradle/**/fileHashes.lock
.gradle/**/buildOutputCleanup.lock
build/
app/build/intermediates/
app/build/generated/
app/build/tmp/
app/build/reports/
app/build/outputs/mapping/
app/build/outputs/logs/

# OS / editor junk
.DS_Store
Thumbs.db
*.log
